@font-face {
    font-family: "BPG Nino Mtavruli";
    src: url("./fonts/BPGNinoMtavruli.eot");
    src: url("./fonts/BPGNinoMtavruli.eot?#iefix") format("embedded-opentype"),
        url("./fonts/BPGNinoMtavruli.woff2") format("woff2"),
        url("./fonts/BPGNinoMtavruli.woff") format("woff"),
        url("./fonts/BPGNinoMtavruli.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Sylfaen";
    src: url("./fonts/Sylfaen.eot");
    src: url("./fonts/Sylfaen.eot?#iefix") format("embedded-opentype"),
        url("./fonts/Sylfaen.woff2") format("woff2"),
        url("./fonts/Sylfaen.woff") format("woff"),
        url("./fonts/Sylfaen.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
