html,
body,
* {
    font-family: "BPG Nino Mtavruli";
}
.module_table a:hover{
    text-decoration: none;
}
.moduel_create_form *, .module_table{
    font-family: "BPG Nino Mtavruli";
    font-weight: 700;

}
