html,
body,
* {
    font-family: "BPG Nino Mtavruli";
}
.module_table a:hover {
    text-decoration: none;
}
.moduel_create_form *,
.module_table,
.card-header * {
    font-family: "BPG Nino Mtavruli";
    font-weight: 700;
    line-height: normal;
}

.navbar-top {
    z-index: 500;
}

.custom_pagination .page-link {
    padding-bottom: 0;
}
