input,
button,
select,
optgroup,
textarea,
label,
.alert,
.badge,
.blockquote-footer,
.btn,
[data-list] .page,
.tox .tox-menu__footer .tox-button:last-child,
.tox .tox-dialog__footer .tox-button:last-child,
.tox .tox-menu__footer .tox-button--secondary,
.tox .tox-dialog__footer .tox-button--secondary,
.navbar,
.pagination,
.valid-feedback,
.invalid-feedback {
    font-family: "BPG Nino Mtavruli", "Poppins", -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body,
* {
    font-family: "BPG Nino Mtavruli";
}
.module_table a:hover {
    text-decoration: none;
}
.moduel_create_form *,
.module_table,
.card-header * {
    font-family: "BPG Nino Mtavruli";
    font-weight: 700;
    line-height: normal;
}

.navbar-top {
    z-index: 500;
}

.custom_pagination .page-link {
    padding-bottom: 0;
}
